#include "App.xcconfig"
#include "GuestARM64.xcconfig"

PRODUCT_NAME = iSH ARM64
PRODUCT_BUNDLE_IDENTIFIER = $(ROOT_BUNDLE_IDENTIFIER).arm64
PRODUCT_APP_GROUP_IDENTIFIER = group.$(ROOT_BUNDLE_IDENTIFIER).arm64
INFOPLIST_PREFIX_HEADER = $(SYMROOT)/$(CONFIGURATION)/infoplisticons.h
INFOPLIST_PREFIX_HEADER[sdk=iphonesimulator*] = $(CONFIGURATION_BUILD_DIR)/infoplisticons.h
